extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js")
  script(src="/js/visualize.js")
  .left(style="float:left;background-color:rgba(240, 240, 240, 0.85);padding:10px;")
    h1= entry.title
    h3 Uploaded by #{entry.uploader}
    p= entry.desc
    ul(class="collapsibleList")
      each val, index in entry.getInfo()
        li= index + ": " + val
    a(href=entry.id+"/json") Get JSON
  .right(style="float:right;background-color:rgba(240, 240, 240, 0.85);padding:10px;")
    h3 Loading Preview...
